<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.trainingsolutions.forkcalculations"
        versionCode = "11" 
        version     = "1.0.1" >

    <!-- versionCode is optional and Android only -->

	 <preference name="phonegap-version" value="cli-6.5.0" />
	 <preference name="android-targetSdkVersion"  value="28" />
	
    <name>Forklift Calculations</name>

	<icon src="icon.png" />
	
    <description>
       This app is to be used for forklift calculations
    </description>

    <author href="https://123trainingsolutions.com.au" email="chris@123trainingsolutions.com.au">
        Chris Walmsley 
    </author>

</widget>
