/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 20, 2016, 9:55:06 AM
    Author     : Lattitude
*/

.centered
{
    margin: auto;
}

input, textarea, select {
    font-size: 16px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-blue {background-color: #008CBA;} /* Blue */
.btn-red {background-color: #f44336;} /* Red */
.btn-gray {background-color: #e7e7e7; color: black;} /* Gray */
.btn-black {background-color: #555555;} /* Black */


input[type=text], select {
    width: 100%;
    max-width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number], select {
    width: 100%;
    max-width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    max-width: 500px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.div-color {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.div-color-dark {
    border-radius: 5px;
    background-color: #d9d9d9;
    padding: 20px;
}

/*----NavBar----*/

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    /*background-color: #f3f3f3;*/
    background-color: grey;
}

ul.nav li {
    float: left;
    width: 33.33333333%;
}

ul.nav li a {
    display: block;
    /*color: #666;*/
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.nav li a:hover:not(.active) {
    background-color: #111;
}

ul.nav li a.active {
    color: white;
    background-color: #333;
}